

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;

}
nav #nav_part1{
    width: 60%;
    height: 100%;
}
nav #nav_part1{
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 10px;
}
nav #nav_part1 a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
}


.explore-hover{
    width: 200px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 10%;
    left: 15%;
    display: none;
    box-shadow: 0px 1px 2px black;

}
.explore-hover ul li{
    list-style: none;
    margin-top: 20px;
    margin-left: 10px;
}
.explore:hover + .explore-hover {
display: inline-block;
}


nav #nav_part2{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    gap: 20px;
}
nav #nav_part2 button {
font-size: 15px;
padding: 14px;
border: none;
cursor: pointer;
background-color: transparent;
}
nav #nav_part2 .in{
    background-color: #0D0C22;
    color: white;
    border-radius: 30px;
}

header{
    width: 100%;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
header h1{
    font-family: "Source Serif 4", Georgia, serif;
font-size: 62px;
font-weight: 400;
line-height: 74.4px;
color: rgb(13, 12, 34);
text-align: center;
}

header p{
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 26px;
color: rgb(13, 12, 34);
text-align: center;
}

header a{
     font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
    background-color: rgb(238, 236, 236);
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 12px;
}
header #a1{
background-color: transparent;
color: rgb(153, 153, 153);
}

header .search{
    background-color: rgb(238, 236, 236);
    width: 600px;
    height: 50px;
    border-radius: 30px;
    padding-left: 20px;
    /* padding-right: 20px; */
    margin-bottom: 20px ;
}

header .search input{
    width: 75%;
    height: 100%;
    background-color: transparent;
    border: none;

}
header .search select{
    height: 100%;
    border: none;
    background-color: transparent;
}
header .search #search-icon{
background-color: #EC5E95;
color: white;
padding: 10px;
font-size: 20px;
border-radius: 50%;

}


.grid{
    width: 100%;
   min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 50px;

}
.grid .box{
    width: 320px;
    height:220px;
      position: relative;
      margin-bottom: 20px;
}
.grid .box img {
width: 100%;
height: 90%;
object-fit: cover;
object-position: center;
border-radius: 20px;
}

.grid .box .bottom{
    width: 100%;
 
    height: 10%;
    display: flex;
    
}
.grid .box .bottom .left{
    width: 50%;
    height: 100%;
      display: flex;

}
.grid .box .bottom .left img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.grid .box .bottom .left button {
    background-color: rgb(204, 205, 205);
    border: none;
    color: rgb(150, 150, 150);
    margin-left: 10px;

}
.grid .box .bottom .left button:hover {
    background-color: black;
    color: white;
cursor: pointer;
}

.grid .box .bottom .right{
   width: 50%;
    height: 100%; 
    display: flex;
    justify-content: end;
}

.grid .overlay{
    width: 100%;
    background: linear-gradient( to top, rgba(74, 74, 74, 0.49),rgba(255, 255, 255, 0.638));
    height: 20%;
    border-radius: 20px;
    position: absolute;
    transition: all 1s ease-in;
    opacity: 0;
    top: 69%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.grid .box:hover .overlay{
    top: 69%;
    transition: all 1s ease;
    display: block;
    opacity: 1;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}

.grid .overlay h1{
color: white;
}

.grid .overlay .icon i {
background-color: white;
color: black;
padding: 10px;
font-size: 20px;
border-radius: 50%;
}


